@import './fonts.scss';
@import './colors.scss';
@import './animations.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.expanded {
  transform: rotate(90deg);
}

.u-menu {
  border-radius: 0.5rem;
}

.u-item {
  min-height: 0;
}
