// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-1: #e7dcff;
$primary-2: #f6f2ff;

$violet-1: #eee8f3;
$violet-2: #d7c9e2;
$violet-3: #b79dcb;
$violet-4: #9670b3;
$violet-5: #76459d;
$violet-6: #581c87;
$violet-7: #4b1873;
$violet-8: #3e1460;
$violet-9: #32104d;
$violet-10: #280d3d;

$green-1: #f0fdf4;
$green-2: #dcfce7;
$green-3: #bbf7d0;
$green-4: #86efac;
$green-5: #4ade80;
$green-6: #22c55e;
$green-7: #16a34a;
$green-8: #15803d;
$green-9: #166534;
$green-10: #14532d;

$gray-10: #18181b;
$gray-9: #27272a;
$gray-8: #3f3f46;
$gray-7: #52525b;
$gray-6: #71717a;
$gray-5: #a1a1aa;
$gray-4: #d4d4d8;
$gray-3: #e4e4e7;
$gray-2: #f4f4f5;
$gray-1: #fafafa;

$gradient-peach-1: linear-gradient(90deg, #ff8888 0%, #e47aff 99.01%);
$gradient-peach-2: linear-gradient(90deg, #ffdbdc 0%, #f7d7ff 99.01%);
$gradient-peach-3: linear-gradient(90deg, #fff3f3 0%, #fcf2ff 99.01%);

$gradient-violet-1: linear-gradient(100deg, #4c1d95 4.25%, #881d95 96.95%);
$gradient-violet-2: linear-gradient(100deg, #351d59 4.25%, #531d59 96.95%);
$gradient-violet-3: linear-gradient(100deg, #7541c5 4.25%, #aa5fb3 96.95%);
$gradient-violet-4: linear-gradient(100deg, #e9e1f6 4.25%, #eee3f0 96.95%);

$gradient-green-1: linear-gradient(90deg, #83c25f 8.46%, #d5d768 99.01%);
$gradient-green-2: linear-gradient(100deg, #b5da9f 4.25%, #e6e7a5 96.95%);

$gradient-red-1: linear-gradient(90deg, #844a47 2.78%, #d76565 99.01%);

$gradient-blue-2: linear-gradient(90deg, #7f92d6 8.46%, #a3bbf9 99.01%);

$controls-bg: #fbfbfb;
